.Home{
    display: flex;
    justify-content: space-between;
   
gap: 2rem;
padding: 1rem 2rem;
}
.firstHome{
   
   
    width: 50%;
}
.buttonLearn{
    padding: 0.5rem 1rem;
    border: none;
background-color: #000;
    color: #ffff ;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    
}
.buttonLearn:hover{
    padding: 0.5rem 1rem;
    border: solid .5px;
background-color: #fff;
    color: #000 ;
    border-radius: 1.5rem;
    cursor: pointer;
    font-weight: 700;
    
}
.firstHome h1{
    font-size: 70px;
    width: 70%;
    word-wrap: normal;
}
.secondHome img {
    height: 500px;
}
.logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media (max-width:768px) {
   .Home{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
   } 
   .secondHome{
    width: 100%;
   }
   .secondHome img {
    width: 100%;
}
.firstHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;

}
.logos{
    padding: 1rem 2rem;

}
.buttonLearn{
    align-self: center;
    width: 30%;
}
.firstHome h1{
    font-size: 30px;
    word-break: normal;
    width: 100%;
}
}