.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    color: hsl(0, 0%, 41%);
font-weight: 700;
}
.navBar a{
    color: hsl(0, 0%, 41%);
text-decoration: none;
}
.navBar li {
    list-style: none;
}

.logoCon {
    display: flex;
    align-items: center;
  
}

.firstNavCon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.active{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;

}
    
.navItem {
    position: relative;
    cursor: pointer;
}

.navItem p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.navItem p:hover{
    color: hsl(0, 0%, 8%);

}
.featuresSubList, .companySubList {
    display: none;
    position: absolute;
    top: 100%;
    left: -60%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 10;
    color: hsl(0, 0%, 41%);
}
.career{
    display: inline-flex;
    gap: inherit;
}
.companySubList{
    left: 0;
    width: 100%;
}
.navItem:hover .featuresSubList,
.navItem:hover .companySubList {
    display: block;
}

.featuresSubList p, .companySubList p {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.authButtons {
    display: flex;
    gap: 1rem;
}

.authButtons button {
    padding: 0.5rem 1rem;
    border: none;
background-color: transparent;
    color: #000 ;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 700;
    width: 100%;
}
.authButtons button:last-child{
    border: 1px solid;
}
.authButtons button:last-child:hover{
    border: none;
}
.authButtons button a {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
}
.authButtons button a:hover{
    color: #000;
}
.authButtons button:hover {
    border: 1px solid;
   
}

.hamMenu {
    display: none;
}

/* Mobile Screen */
@media (max-width: 768px) {

    .navBar {
        flex-direction: row;
        align-items: flex-start;
        padding: 1rem;
    }

    .logoCon {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .firstNavCon {
        display: none;
        flex-direction: column;
      
        width: 100%;
        gap: 1rem;
    }
.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    top: 50px;
    right: 0;
    height: 100%;
    width: 50%;
    gap: 1rem;
    padding: 20px;
}
.career{
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    /* gap: calc(0.0001rem); */
}
    .navItem {
        width: 100%;
    }

    .navItem p {
        justify-content:  flex-start;
        gap: 20px;
    }

    .authButtons {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
  
        top: 0;
        /* left: -30%; */
        width: 100%;
        gap: 1rem;
    }

    .hamMenu {
        display: block;
        cursor: pointer;
    }

    .menuActive .firstNavCon,
    .menuActive .authButtons {
        display: flex;
    }
    .featuresSubList, .companySubList {
        display: none;
        position: relative;
        top: 0;
        left: 0;
        background-color: #fff;
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
        padding: 1rem;
        border-radius: 0.5rem;
        z-index: 10;
        color: hsl(0, 0%, 41%);
    }
    .navItem:hover .featuresSubList,
.navItem:hover .companySubList {
    display: block;
    box-shadow: none;
}
}